section.our-products
  .container
    h2.heading1 Our Product

    ul.links-products
      -
        const links = [
          {text: "ise cream"},
          {text: "cayenne chocolate"},
          {text: "cake batter"},
          {text: "candy cane"},
          {text: "platters"},
          {text: "dessert"},
        ]

      each link in links
        li
          a(href="#")= link.text

    .product-cards
      -
        const cards = [
          {
            cardCount: "card-1",
            title: "Brown bread",
            desc: "Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.",
            price: "$19.55",
            oldPrice: "$22.55",
            btnClass: "buy-now-btn",
            btnTxt: "Buy Now",
            imgClass: "img-card-1"
          },
          {
            cardCount: "card-2",
            title: "Cayenne chocolate",
            desc: "Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.",
            price: "$19.55",
            oldPrice: "$22.55",
            btnClass: "buy-now-btn",
            btnTxt: "Buy Now",
            imgClass: "img-card-2"
          },
          {
            cardCount: "card-3",
            title: "Sweet corn",
            desc: "Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.",
            price: "$19.55",
            oldPrice: "$22.55",
            btnClass: "buy-now-btn",
            btnTxt: "Buy Now",
            imgClass: "img-card-3"
          }
        ]

      each card in cards
        div(class=`${card.cardCount} card`)
          .img-box
            div(class=`${card.imgClass} card-img`)
          .text-box
            h2= card.title
            p= card.desc
            span= card.price
              psan.old-price= card.oldPrice
            button(class=`${card.btnClass}`)= card.btnTxt

      div(class="last--card")
        .card--box
          .head-box
            .img-circle
            .txt-box
              h3 Adele A. McNeill
              p american
          .body-box
            p Thanks a lot for the prompt service. Really appreciate. Excellence taste in Every Bite.Add a joy of best Taste. Foodie Moments.
          .footer-box
            i(class="ri-arrow-left-wide-line")
            div(class="img-cirlce-1 imgs")
            div(class="img-cirlce-2 imgs")
            div(class="img-cirlce-3 imgs")
            i(class="ri-arrow-right-wide-line")
        div
          .last-card-img