footer
  .container
    .left-side
      a(href="#")
        img(src="./assets/img/logo.png", alt="alt" class="footer-logo")
      p Some food has looked so awful that it's looked like something that the dog's brought home.
      span Fllow Us
      ul
        -
          let socials = [
            {class: "facebook", href: "https://t.me/qurbonoff_11"},
            {class: "twiter", href: "https://x.com/qurbonoff_11"},
            {class: "instagram", href: "https://www.instagram.com/qurbonoff.11"},
            {class: "linked", href: "https://www.linkedin.com/in/jonibek-qurbonov-3b635b363/"}
          ]
        each social in socials
          li
            a(href=`${social.href}` target="_blank" class=`${social.class}`)
    .left-center-side
      ul
        -
          let footerLinks = [
            {text: "Home"},
            {text: "Product"},
            {text: "Blog"},
            {text: "Pricing"},
            {text: "Testimonials"},
            {text: "Contact Us"}
          ]
        each link in footerLinks
          li
            a(href="#")= link.text
    .right-center-side
      ul
        -
          const datalist = [
            {text: "Delivery Information"},
            {text: "Privacy Policy"},
            {text: "Terms & Condition"},
            {text: "Search Terms"},
            {text: "Order & Return"}
          ]

        each link in datalist
          li
            a(href="#")= link.text
    .right-side
      .email-input
        label(for="email") Newsletter
        .input
          input(type="email" id="emailInp" placeholder="Your Email" autocomplete="off")
          button.subscribe Subscribe
      ul
        -
          const images = [
            {src: "Mastercard.png"},
            {src: "PayPal.png"},
            {src: "visa.png"}
          ]

        each img in images
          li
            img(src=`./assets/img/pays/${img.src}`, alt="pays logos")